# .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
*.lock.json

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.idea/
*.swp
*.swo

# Logs
*.log

# Terraform — local state and sensitive files
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfvars
/.github/workflows/ci-cd.yml
/frontend/.vite/deps/_metadata.json
/frontend/.vite/deps/package.json
/frontend/.vite/deps_temp_1a1a86f6/chunk-6V75OSAC.js
/frontend/.vite/deps_temp_1a1a86f6/chunk-6V75OSAC.js.map
/frontend/.vite/deps_temp_1a1a86f6/package.json
/frontend/.vite/deps_temp_1a1a86f6/react-dom.js
/frontend/.vite/deps_temp_1a1a86f6/react-dom.js.map
/frontend/.vite/deps_temp_1a1a86f6/react.js
/frontend/.vite/deps_temp_1a1a86f6/react.js.map
/frontend/.vite/deps_temp_1a1a86f6/react_jsx-dev-runtime.js
/frontend/.vite/deps_temp_1a1a86f6/react_jsx-dev-runtime.js.map
/frontend/.vite/deps_temp_1a1a86f6/react_jsx-runtime.js
/frontend/.vite/deps_temp_1a1a86f6/react_jsx-runtime.js.map
